<section>
    <div class="container">
        <div class="About">
            <h3 style="padding-left: 30%;">ABOUT US</h3>
            <p style="padding-left: 30%;">"<span>PharmaCare</span>", It is the online deals site of medications supported by a US
                pharmacy, situated at the edge of central park and downtown in the 6th district of the united states.

                "<span>PharmaCare</span>" pharmacy is open Monday to friday from 8:30 to 20th and saturday from 9hrs to 20hrs

                "<span>PharmaCare</span>" , the pioneer in pharmacy and US pharmacy offers a world wide determination of pharmacy
                items, natural drugs, fragrant healing, and medications(homeopathy, veterniary items, medicines and over
                the counter prescriptions) at the best costs.</p>
                <a href="#" class="btn">Read More</a>
            <div class="About-form">
                <img src="https://img.freepik.com/premium-photo/doctor-nurse-silhouette_952248-59.jpg?size=626&ext=jpg&ga=GA1.1.986536146.1694851503&semt=ais">

            </div>
        </div>
    </div>
</section>