<section class="top" id="top">
  <div class="con">
    <h1 class="heading"> Our Experts</h1>
    <hr>
  </div>

  <div class="wrapper">
    <div class="container">
      <div class="im-wrapper">
        <img src="https://img.freepik.com/premium-photo/chef-cap_1005327-215.jpg?w=740">
      </div>

      <div class="details">
        <h3>Carolina</h3>
        <h5>Internal Drugs | 5 years exp</h5>

        <div class="social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-Twitter"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="im-wrapper">
        <img src="https://img.freepik.com/premium-photo/doctor-nurse-silhouette_952248-58.jpg?size=626&ext=jpg&ga=GA1.1.986536146.1694851503&semt=ais">
      </div>

      <div class="details">
        <h3>Rosiee</h3>
        <h5>Dermatology | 15 years exp</h5>

        <div class="social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-Twitter"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="im-wrapper">
        <img
          src="https://img.freepik.com/premium-photo/doctor-with-stethoscope-his-shirt-is-standing-with-his-arms-crossed_81048-2198.jpg?size=626&ext=jpg&ga=GA1.1.986536146.1694851503&semt=ais">
      </div>

      <div class="details">
        <h3>John</h3>
        <h5>ENT | 25 years exp</h5>

        <div class="social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-Twitter"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="im-wrapper">
        <img
          src="https://img.freepik.com/premium-photo/smiling-doctor-cartoon-with-stethoscope_919137-545.jpg?size=626&ext=jpg&ga=GA1.1.986536146.1694851503&semt=ais">
      </div>

      <div class="details">
        <h3>Smith</h3>
        <h5>Cardiology | 10 years exp</h5>

        <div class="social-icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-Twitter"></i>
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="bottom" id="bottom">
  <div class="con">
    <h1 class="heading">LOCATION</h1>
    <hr>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190256.19616641325!2d-87.8967718433632!3d41.833615157966044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2sChicago%2C%20IL%2C%20USA!5e0!3m2!1sen!2sin!4v1695497395964!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>



</section>